<!-- <?xml version="1.0"?> -->

<launch>

  <arg name="map_file" default="${HOME}/bagfiles/map5/map5.pbstream" />
  <arg name="bag_file" default="${HOME}/bagfiles/map.bag" />


  <param name="robot_description" command="$(find xacro)/xacro $(find frankenstein_description)/urdf/frankenstein.urdf"/>
  <node pkg="frankenstein_reality" type="visualizer_node_reality" name="path_visualizer" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find frankenstein_description)/rviz/frankenstein_reality.rviz">
    </node>
  
  <node name="cartographer_bag_launcher" pkg="frankenstein_reality" type="cartographer_localization_bag_launcher.sh" args="$(arg map_file) $(arg bag_file)" output="screen"/>
  

</launch>